<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <link rel="stylesheet" href="/singlepage2/css/style2.css">
    <link rel="stylesheet" href="/singlepage2/css/main2.css">
    <link type="image/x-icon" href="/Img/ITALIANO.png" rel="shortcut icon">
    <style>
        .action a 
        {
            background-color: #fff;
        }
        .action a:hover 
        {
            background-color: #FF2020;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <style>
        /* Style The Dropdown Button */
        .dropbtn {
          margin-top: 0;
          font-size: 16px;
          background-color: #1E2725;
          color: white;
          border: none;
          cursor: pointer;
          width: 50px;
        }
        
        /* The container <div> - needed to position the dropdown content */
        .dropdown {
          position: relative;
          display: inline-block;
        }
        
        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: rgb(255,255,255);
          z-index: 1;
          border-radius: 10px;
        }
        
        /* Links inside the dropdown */
        .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;    
          font-size: 16px;
          font-family: 'Lato', sans-serif;
          font-weight: bold;
          
        }
        
        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {background-color: #f1f1f1}
        
        /* Show the dropdown menu on hover */
        .dropdown:hover .dropdown-content {
          display: block;
        }
        
        /* Change the background color of the dropdown button when the dropdown content is shown */
        .dropdown:hover .dropbtn {
          background-color: #1E2725;
          color: #fff;
        }
         .italiano 
        {
            padding-left: 90px;
        }
        .corzina
        {
            padding-right: 50px;
        }
        
        .fa-times{
            width: 60px;
            opacity: 0.5;
        }
        .modal_text b
        {
            font-size: 40px;
            opacity: .5;
        }
        </style>
    <div class="hed">
        <header >
           
         
        <div class="head_firs">
            <div class="hed_nambe">    <i class="fas fa-phone-alt"></i><a href="tel: +998970120404">+998 97 - 012-04-04</a></div>
        
          <div class="hed_lang" style="margin-right: -20px;">  <img src="/Img/2560px-Flag_of_Uzbekistan.svg.png" alt="bu erda rasm bor">
            <div class="dropdown">
                <button class="dropbtn">Ru</button>
                <div class="dropdown-content">
                <a href="/uz/changelang">Uz</a>
                </div>
            </div>
            <%if(user){%>
                <p style="padding-bottom: 30px;"> <a href="/logout" style="cursor: pointer; text-decoration: underline; color: rgb(48,226,181); padding-left: 5px;"> <i class="fas fa-door-open"></i></a></p>
                <%}else{%>
                  <p style="padding-bottom: 30px;"><a href="/api/login" style="cursor: pointer; text-decoration: underline; color: rgb(48,226,181);"><i class="fas fa-sign-out-alt" ></i></a></p>
                  <% }%>
            </div>
        </div>
        <div class="navigation">
        <div class="containers">
        <nav>
           <div class="bars"><img src="/Img/Vector (2).svg" alt=""></div> 
            <img class="italiano" src="/Img/ITALIANO.png" alt="">
            <ul>
                <li><a href="/ru">Главная</a></li>
                <li><a href="/ru/catalog">Каталог</a></li>
                <li><a href="/ru/about">О сайте</a></li>
                <li><a href="#">Контакты </a></li>
                <ul>
                    <b><img class="fa-times" src="/Img/close_black_24dp.svg" alt=""></b>
                    <h4><a href="http://facebook.com/profile.php?id=100069234636165"><i class="fab fa-facebook"></i></a> </h4>
                    <h4><a href="https://instagram.com/italiano_samarkand?utm_medium=copy_link"><i class="fab fa-instagram"></i></i> </a></h4> 
                    <h4><a href="https://t.me/italiano_samarkand"><i class="fab fa-telegram"></i></a></h4>
                </ul>
            </ul>
            <div class="corzina" style="padding-right: 0; left: -80px;">
                <b><img src="/Img/close_black_24dp.svg" alt=""></b>
                <form action="/ru/search" class="app-search">
                <input name="name" type="search" placeholder="matn kiriting" autocomplete="off" />
                <i class="fas fa-search"></i>
                <button style="display: none;" type="submit"></button>
            </form>
            <i class="fas fa-shopping-bag" style="cursor: pointer;"></i>
            </div>
           
        </nav>
    </div>
    </div>

    <!-- MODAL...................... -->

    <div class="modal" >
        <div class="modal_bottom" style="height: 450px;">
          <%if(user){%>
          <%if(basket[0]){%>
            <div class="modal_box" >
            <img src="<%= basket[0].productID.poster.min%>" alt="">
            <div class="modal_text" >
                <b>x</b>
            <p><%= basket[0].productID.name.ru%></p>
            <h3><%= basket[0].productID.price%> сум</h3>
            <span>new</span>
            </div>
            </div>
            <%} else{%> 
              <div class="modal_text" >
                <p style="display: inline-block; padding-top: 20px; font-size: larger">В настоящее время в корзине нет данных</p>
                <i class="fas fa-times" class="exit">x</i>
            </div>
            <a href="/api/ru/basket/all/<%= user.id%>" style="text-decoration: none;"><button>Ходить по магазинам<img src="./Img/button.png" alt=""></button></a>
            </div>
              <% }%>
            <%if(basket[1]) {%>
            <div class="modal_box" >
                <i class="fas fa-times" class="exit">x</i>
                <img src="<%= basket[1].productID.poster.min%>" alt="">
                <div class="modal_text">
                <p><%= basket[1].productID.name.ru%></p>
                <h3><%= basket[1].productID.price%> сум</h3>
                <span>new</span>
                </div>
                </div>
                <% }%>
                <%if(basket[2]) {%>
                  <div class="modal_box" >
                      <i class="fas fa-times" class="exit">x</i>
                      <img src="<%= basket[2].productID.poster.min%>" alt="">
                      <div class="modal_text">
                      <p><%= basket[2].productID.name.ru%></p>
                      <h3><%= basket[2].productID.price%> сум</h3>
                      <span>new</span>
                      </div>
                      </div>
                      <% }%>
                      <%if(basket[0]) {%>
                <a href="/api/ru/basket/all/<%= user.id%>" style="text-decoration: none;"><button>Ходить по магазинам<img src="./Img/button.png" alt=""></button></a>
                      <% }%>
                      <% }else{%>
                        <div class="modal_text" >
                          <p style="display: inline-block; padding-top: 20px; font-size: larger">Вы не зарегистрированы на Сайте</p>
                          <b>x</b>
                      </div>
                      <a href="/api/login" style="text-decoration: none;"><button>Войти на сайт <img src="/Img/button.png" alt=""></button></a>
                      <% }%>
                </div>
        </div>
</header>    
<%var product1%>
<%var product2%>
<%var product3%>
<%var product4%>
<%var product5%>
<%var product6%>
<%var product7%>
<%var product8%>
<%var product9%>
<%var product10%>
    <!-- MODAL...................... -->

    <div class="link">
        <a href="/ru">Главная / </a>
        <a href="/ru/catalog"><span>Каталог</span> </a>
    </div>
    <!-- MAGAZIN.... -->
    <div id="magazin">
        <div class="links">
            <div class="link">
                <%if(product1[0]) {%>
            <h3><%=product1[0].categoryID.name.ru%></h3>
            <% }%>
            <p>Furniture design</p>
        </div>
    <div id="internet-item"> 
       
    <div class="container">
       <%for(item of product1) {%>
        <div class="card">
            <div class="imgBx">
                <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
                <ul class="action">
                    <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                   
                    <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                    <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
                 
                </ul>
            </div>
            <div class="content">
                <div class="proName">
                   <a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
                </div>
                <div class="priceReating">
                    <h2><a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                    <div class="raiting">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star gray"></i>
                    </div>
                </div>
            </div>
        </div>
        <% }%>
    </div>

</div>

</div>
<%if(product2[0]) {%>
<div id="magazin">
    <div class="links">
        <div class="link">
        <h3><%=product2[0].categoryID.name.ru%></h3>
        <p>Furniture design</p>
    </div>
<div id="internet-item"> 
   
<div class="container">
   <%for(item of product2) {%>
    <div class="card">
        <div class="imgBx">
            <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
            <ul class="action">
                <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
             
            </ul>
        </div>
        <div class="content">
            <div class="proName">
               <a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
            </div>
            <div class="priceReating">
                <h2><a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                <div class="raiting">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star gray"></i>
                </div>
            </div>
        </div>
    </div>
    <% }%>
</div>

</div>

</div>
<% }%>
<%if(product3[0]) {%>
    <div id="magazin">
        <div class="links">
            <div class="link">
            <h3><%=product3[0].categoryID.name.ru%></h3>
            <p>Furniture design</p>
        </div>
    <div id="internet-item"> 
       
    <div class="container">
       <%for(item of product3) {%>
        <div class="card">
            <div class="imgBx">
                <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
                <ul class="action">
                    <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                    <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                    <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
                 
                </ul>
            </div>
            <div class="content">
                <div class="proName">
                   <a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
                </div>
                <div class="priceReating">
                    <h2><a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                    <div class="raiting">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star gray"></i>
                    </div>
                </div>
            </div>
        </div>
        <% }%>
    </div>
    
    </div>
    
    </div>
    <% }%>
    <%if(product4[0]) {%>
        <div id="magazin">
            <div class="links">
                <div class="link">
                <h3><%=product4[0].categoryID.name.ru%></h3>
                <p>Furniture design</p>
            </div>
        <div id="internet-item"> 
           
        <div class="container">
           <%for(item of product4) {%>
            <div class="card">
                <div class="imgBx">
                    <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
                    <ul class="action">
                        <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                        <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                        <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
                     
                    </ul>
                </div>
                <div class="content">
                    <div class="proName">
                       <a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
                    </div>
                    <div class="priceReating">
                        <h2><a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                        <div class="raiting">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star gray"></i>
                        </div>
                    </div>
                </div>
            </div>
            <% }%>
        </div>
        
        </div>
        
        </div>
        <% }%>
        <%if(product5[0]) {%>
            <div id="magazin">
                <div class="links">
                    <div class="link">
                    <h3><%=product5[0].categoryID.name.ru%></h3>
                    <p>Furniture design</p>
                </div>
            <div id="internet-item"> 
               
            <div class="container">
               <%for(item of product5) {%>
                <div class="card">
                    <div class="imgBx">
                        <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
                        <ul class="action">
                            <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                            <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                            <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
                         
                        </ul>
                    </div>
                    <div class="content">
                        <div class="proName">
                           <a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
                        </div>
                        <div class="priceReating">
                            <h2><a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                            <div class="raiting">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star gray"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <% }%>
            </div>
            
            </div>
            
            </div>
            <% }%>
            <%if(product6[0]) {%>
                <div id="magazin">
                    <div class="links">
                        <div class="link">
                        <h3><%=product6[0].categoryID.name.ru%></h3>
                        <p>Furniture design</p>
                    </div>
                <div id="internet-item"> 
                   
                <div class="container">
                   <%for(item of product6) {%>
                    <div class="card">
                        <div class="imgBx">
                            <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
                            <ul class="action">
                                <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                                <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                                <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
                             
                            </ul>
                        </div>
                        <div class="content">
                            <div class="proName">
                               <a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
                            </div>
                            <div class="priceReating">
                                <h2><a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                                <div class="raiting">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star gray"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }%>
                </div>
                
                </div>
                
                </div>
                <% }%>
                <%if(product7[0]) {%>
                    <div id="magazin">
                        <div class="links">
                            <div class="link">
                            <h3><%=product7[0].categoryID.name.ru%></h3>
                            <p>Furniture design</p>
                        </div>
                    <div id="internet-item"> 
                       
                    <div class="container">
                       <%for(item of product7) {%>
                        <div class="card">
                            <div class="imgBx">
                                <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
                                <ul class="action">
                                    <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                                    <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                                    <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
                                 
                                </ul>
                            </div>
                            <div class="content">
                                <div class="proName">
                                   <a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
                                </div>
                                <div class="priceReating">
                                    <h2><a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                                    <div class="raiting">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star gray"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }%>
                    </div>
                    
                    </div>
                    
                    </div>
                    <% }%>
                    <%if(product8[0]) {%>
                        <div id="magazin">
                            <div class="links">
                                <div class="link">
                                <h3><%=product8[0].categoryID.name.ru%></h3>
                                <p>Furniture design</p>
                            </div>
                        <div id="internet-item"> 
                           
                        <div class="container">
                           <%for(item of product8) {%>
                            <div class="card">
                                <div class="imgBx">
                                    <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
                                    <ul class="action">
                                        <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                                        <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                                        <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
                                     
                                    </ul>
                                </div>
                                <div class="content">
                                    <div class="proName">
                                       <a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
                                    </div>
                                    <div class="priceReating">
                                        <h2><a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                                        <div class="raiting">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star gray"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }%>
                        </div>
                        
                        </div>
                        
                        </div>
                        <% }%>
                        <%if(product9[0]) {%>
                            <div id="magazin">
                                <div class="links">
                                    <div class="link">
                                    <h3><%=product9[0].categoryID.name.ru%></h3>
                                    <p>Furniture design</p>
                                </div>
                            <div id="internet-item"> 
                               
                            <div class="container">
                               <%for(item of product9) {%>
                                <div class="card">
                                    <div class="imgBx">
                                        <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
                                        <ul class="action">
                                            <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                                            <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                                            <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
                                         
                                        </ul>
                                    </div>
                                    <div class="content">
                                        <div class="proName">
                                           <a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
                                        </div>
                                        <div class="priceReating">
                                            <h2><a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                                            <div class="raiting">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star gray"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }%>
                            </div>
                            
                            </div>
                            
                            </div>
                            <% }%>
                            <%if(product10[0]) {%>
                                <div id="magazin">
                                    <div class="links">
                                        <div class="link">
                                        <h3><%=product10[0].categoryID.name.ru%></h3>
                                        <p>Furniture design</p>
                                    </div>
                                <div id="internet-item"> 
                                   
                                <div class="container">
                                   <%for(item of product10) {%>
                                    <div class="card">
                                        <div class="imgBx">
                                            <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
                                            <ul class="action">
                                                <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                                                <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                                                <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
                                             
                                            </ul>
                                        </div>
                                        <div class="content">
                                            <div class="proName">
                                               <a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
                                            </div>
                                            <div class="priceReating">
                                                <h2><a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                                                <div class="raiting">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star gray"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% }%>
                                </div>
                                
                                </div>
                                
                                </div>
                                <% }%> <%if(product11[0]) {%>
                                    <div id="magazin">
                                        <div class="links">
                                            <div class="link">
                                            <h3><%=product11[0].categoryID.name.ru%></h3>
                                            <p>Furniture design</p>
                                        </div>
                                    <div id="internet-item"> 
                                       
                                    <div class="container">
                                       <%for(item of product11) {%>
                                        <div class="card">
                                            <div class="imgBx">
                                                <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
                                                <ul class="action">
                                                    <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                                                    <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                                                    <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
                                                 
                                                </ul>
                                            </div>
                                            <div class="content">
                                                <div class="proName">
                                                   <a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
                                                </div>
                                                <div class="priceReating">
                                                    <h2><a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                                                    <div class="raiting">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star gray"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <% }%>
                                    </div>
                                    
                                    </div>
                                    
                                    </div>
                                    <% }%>
                                    <%if(product12[0]) {%>
                                        <div id="magazin">
                                            <div class="links">
                                                <div class="link">
                                                <h3><%=product12[0].categoryID.name.ru%></h3>
                                                <p>Furniture design</p>
                                            </div>
                                        <div id="internet-item"> 
                                           
                                        <div class="container">
                                           <%for(item of product12) {%>
                                            <div class="card">
                                                <div class="imgBx">
                                                    <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
                                                    <ul class="action">
                                                        <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                                                        <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                                                        <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
                                                     
                                                    </ul>
                                                </div>
                                                <div class="content">
                                                    <div class="proName">
                                                       <a href="/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
                                                    </div>
                                                    <div class="priceReating">
                                                        <h2><a href="/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                                                        <div class="raiting">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star gray"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }%>
                                        </div>
                                        
                                        </div>
                                        
                                        </div>
                                        <% }%>
                                        <%if(product13[0]) {%>
                                            <div id="magazin">
                                                <div class="links">
                                                    <div class="link">
                                                    <h3><%=product13[0].categoryID.name.ru%></h3>
                                                    <p>Furniture design</p>
                                                </div>
                                            <div id="internet-item"> 
                                               
                                            <div class="container">
                                               <%for(item of product13) {%>
                                                <div class="card">
                                                    <div class="imgBx">
                                                        <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
                                                        <ul class="action">
                                                            <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                                                            <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                                                            <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
                                                         
                                                        </ul>
                                                    </div>
                                                    <div class="content">
                                                        <div class="proName">
                                                           <a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
                                                        </div>
                                                        <div class="priceReating">
                                                            <h2><a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                                                            <div class="raiting">
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star"></i>
                                                                <i class="fas fa-star gray"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% }%>
                                            </div>
                                            
                                            </div>
                                            
                                            </div>
                                            <% }%>
                                            <%if(product14[0]) {%>
                                                <div id="magazin">
                                                    <div class="links">
                                                        <div class="link">
                                                        <h3><%=product14[0].categoryID.name.ru%></h3>
                                                        <p>Furniture design</p>
                                                    </div>
                                                <div id="internet-item"> 
                                                   
                                                <div class="container">
                                                   <%for(item of product14) {%>
                                                    <div class="card">
                                                        <div class="imgBx">
                                                            <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
                                                            <ul class="action">
                                                                <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                                                                <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                                                                <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
                                                             
                                                            </ul>
                                                        </div>
                                                        <div class="content">
                                                            <div class="proName">
                                                               <a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
                                                            </div>
                                                            <div class="priceReating">
                                                                <h2><a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                                                                <div class="raiting">
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star"></i>
                                                                    <i class="fas fa-star gray"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% }%>
                                                </div>
                                                
                                                </div>
                                                
                                                </div>
                                                <% }%>
                                                <%if(product15[0]) {%>
                                                    <div id="magazin">
                                                        <div class="links">
                                                            <div class="link">
                                                            <h3><%=product15[0].categoryID.name.ru%></h3>
                                                            <p>Furniture design</p>
                                                        </div>
                                                    <div id="internet-item"> 
                                                       
                                                    <div class="container">
                                                       <%for(item of product15) {%>
                                                        <div class="card">
                                                            <div class="imgBx">
                                                                <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
                                                                <ul class="action">
                                                                    <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                                                                    <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                                                                    <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
                                                                 
                                                                </ul>
                                                            </div>
                                                            <div class="content">
                                                                <div class="proName">
                                                                   <a href="/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
                                                                </div>
                                                                <div class="priceReating">
                                                                    <h2><a href="/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                                                                    <div class="raiting">
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star gray"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% }%>
                                                    </div>
                                                    
                                                    </div>
                                                    
                                                    </div>
                                                    <% }%>
                                                    <%if(product16[0]) {%>
                                                        <div id="magazin">
                                                            <div class="links">
                                                                <div class="link">
                                                                <h3><%=product16[0].categoryID.name.ru%></h3>
                                                                <p>Furniture design</p>
                                                            </div>
                                                        <div id="internet-item"> 
                                                           
                                                        <div class="container">
                                                           <%for(item of product16) {%>
                                                            <div class="card">
                                                                <div class="imgBx">
                                                                    <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
                                                                    <ul class="action">
                                                                        <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                                                                        <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                                                                        <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
                                                                     
                                                                    </ul>
                                                                </div>
                                                                <div class="content">
                                                                    <div class="proName">
                                                                       <a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
                                                                    </div>
                                                                    <div class="priceReating">
                                                                        <h2><a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                                                                        <div class="raiting">
                                                                            <i class="fas fa-star"></i>
                                                                            <i class="fas fa-star"></i>
                                                                            <i class="fas fa-star"></i>
                                                                            <i class="fas fa-star"></i>
                                                                            <i class="fas fa-star gray"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <% }%>
                                                        </div>
                                                        
                                                        </div>
                                                        
                                                        </div>
                                                        <% }%>
                                                        <%if(product17[0]) {%>
                                                            <div id="magazin">
                                                                <div class="links">
                                                                    <div class="link">
                                                                    <h3><%=product17[0].categoryID.name.ru%></h3>
                                                                    <p>Furniture design</p>
                                                                </div>
                                                            <div id="internet-item"> 
                                                               
                                                            <div class="container">
                                                               <%for(item of product17) {%>
                                                                <div class="card">
                                                                    <div class="imgBx">
                                                                        <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
                                                                        <ul class="action">
                                                                            <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                                                                            <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                                                                            <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
                                                                         
                                                                        </ul>
                                                                    </div>
                                                                    <div class="content">
                                                                        <div class="proName">
                                                                           <a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
                                                                        </div>
                                                                        <div class="priceReating">
                                                                            <h2><a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                                                                            <div class="raiting">
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star"></i>
                                                                                <i class="fas fa-star gray"></i>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <% }%>
                                                            </div>
                                                            
                                                            </div>
                                                            
                                                            </div>
                                                            <% }%>
                                                            <%if(product18[0]) {%>
                                                                <div id="magazin">
                                                                    <div class="links">
                                                                        <div class="link">
                                                                        <h3><%=product18[0].categoryID.name.ru%></h3>
                                                                        <p>Furniture design</p>
                                                                    </div>
                                                                <div id="internet-item"> 
                                                                   
                                                                <div class="container">
                                                                   <%for(item of product18) {%>
                                                                    <div class="card">
                                                                        <div class="imgBx">
                                                                            <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
                                                                            <ul class="action">
                                                                                <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                                                                                <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                                                                                <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
                                                                             
                                                                            </ul>
                                                                        </div>
                                                                        <div class="content">
                                                                            <div class="proName">
                                                                               <a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
                                                                            </div>
                                                                            <div class="priceReating">
                                                                                <h2><a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                                                                                <div class="raiting">
                                                                                    <i class="fas fa-star"></i>
                                                                                    <i class="fas fa-star"></i>
                                                                                    <i class="fas fa-star"></i>
                                                                                    <i class="fas fa-star"></i>
                                                                                    <i class="fas fa-star gray"></i>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <% }%>
                                                                </div>
                                                                
                                                                </div>
                                                                
                                                                </div>
                                                                <% }%>
                                                                <%if(product19[0]) {%>
                                                                    <div id="magazin">
                                                                        <div class="links">
                                                                            <div class="link">
                                                                            <h3><%=product19[0].categoryID.name.ru%></h3>
                                                                            <p>Furniture design</p>
                                                                        </div>
                                                                    <div id="internet-item"> 
                                                                       
                                                                    <div class="container">
                                                                       <%for(item of product19) {%>
                                                                        <div class="card">
                                                                            <div class="imgBx">
                                                                                <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
                                                                                <ul class="action">
                                                                                    <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                                                                                    <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                                                                                    <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
                                                                                 
                                                                                </ul>
                                                                            </div>
                                                                            <div class="content">
                                                                                <div class="proName">
                                                                                   <a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
                                                                                </div>
                                                                                <div class="priceReating">
                                                                                    <h2><a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                                                                                    <div class="raiting">
                                                                                        <i class="fas fa-star"></i>
                                                                                        <i class="fas fa-star"></i>
                                                                                        <i class="fas fa-star"></i>
                                                                                        <i class="fas fa-star"></i>
                                                                                        <i class="fas fa-star gray"></i>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <% }%>
                                                                    </div>
                                                                    
                                                                    </div>
                                                                    
                                                                    </div>
                                                                    <% }%>
                                                                    <%if(product20[0]) {%>
                                                                        <div id="magazin">
                                                                            <div class="links">
                                                                                <div class="link">
                                                                                <h3><%=product20[0].categoryID.name.ru%></h3>
                                                                                <p>Furniture design</p>
                                                                            </div>
                                                                        <div id="internet-item"> 
                                                                           
                                                                        <div class="container">
                                                                           <%for(item of product20) {%>
                                                                            <div class="card">
                                                                                <div class="imgBx">
                                                                                    <a href="/ru/product/<%= item._id%>" style="cursor: pointer;"><img src="<%= item.poster.min%>" alt=""></a>
                                                                                    <ul class="action">
                                                                                        <li><i class="fas fa-share-alt"></i><span>Add to Wishlist</span></li>      
                                                                                        <a href="/api/basket/<%=item._id%>"> <li> <i class="fas fa-cart-arrow-down"></i><span>Add to Cart</span></li></a>
                                                                                        <a href="/ru/product/<%= item._id%>" ><li><i class="fas fa-eye"></i><span>Viev Detalis</span></li></a>
                                                                                     
                                                                                    </ul>
                                                                                </div>
                                                                                <div class="content">
                                                                                    <div class="proName">
                                                                                       <a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: #8D8D8D; text-decoration: none;"> <h3><%= item.name.ru%> </h3></a>
                                                                                    </div>
                                                                                    <div class="priceReating">
                                                                                        <h2><a href="/ru/product/<%= item._id%>" style="cursor: pointer; color: rgb(30,39,37);text-decoration: none;"><%= item.price%> сум </a></h2>
                                                                                        <div class="raiting">
                                                                                            <i class="fas fa-star"></i>
                                                                                            <i class="fas fa-star"></i>
                                                                                            <i class="fas fa-star"></i>
                                                                                            <i class="fas fa-star"></i>
                                                                                            <i class="fas fa-star gray"></i>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <% }%>
                                                                        </div>
                                                                        
                                                                        </div>
                                                                        
                                                                        </div>
                                                                        <% }%>
<div class="start_work">
    <h1>Может начнем?</h1>
    <p>Заполните эту форму, и наш оператор свяжется с вами в течение 24 часов.</p>
</div>
<form action="/api/contact" method="POST">
    <div class="forms">
    <div class="form_item">
        <label for="">Ваше имя</label><br>
        <input type="text"placeholder="Uchqun" name="fullname" required><br><br>
        <label for="">Номер телефона <span>*</span></label><br>
        <input type="number"placeholder="99 _ _ _" required name="phone"> 
        <button class="btn">послать<img src="../Img/button.png" alt=""></button>
    </div>
    <div class="form_item kids_img">
        <img src="./Img/Cool Kids - High Tech 1.png" alt="">
    </form></div>
    </div>
</div> 
</section> 

<!-- START WORK -->



<!-- FOOTER SECTION -->

<footer>
      
    <div class="containers">
        <div class="foot_scroll" >
            <a  style="position: relative; bottom: 40px;" href="#"><img src="/Img/Scroll.png" alt=""></a>
        </div>
          
    
         <div class="footer_item">
             <div class="foot_text"> 
                <h1>Kompaniya haqida</h1>                   
                 <h4><i class="fas fa-envelope-open"></i> Samarqand sh., Bog‘i shamol k,. 18-uy</h4>
            <h4><i class="fas fa-phone-alt"></i><a href="tel: +998970120404">+998 97 - 012-04-04</a> </h4>
            <h4><i class="fas fa-envelope"></i><a href="https://italiano@gmail.com">italiano@gmail.com</a></h4>
              </div>
             <div class="foot_text foot_center">  
                <h1>Ma’lumotlar</h1>             
                <h4>Biz haqimizda</h4>
                <h4>Aloqa</h4> 
             </div> 
    
              <div class="foot_text foot_right">
                <h1>Ijtimoiy tarmoqlar</h1>
                <h4><a href="http://facebook.com/profile.php?id=100069234636165"><i class="fab fa-facebook"></i> Facebook</a> </h4>
                <h4><a href="https://instagram.com/italiano_samarkand?utm_medium=copy_link"><i class="fab fa-instagram"></i></i> Instagram</a></h4> 
                <h4><a href="https://t.me/italiano_samarkand"><i class="fab fa-telegram"></i> Telegram</a></h4>
             </div>
         </div>
        
     </div>
     </div>
    <div class="foot_img"> <img src="/Img/footer.jpg" alt=""></div>
    </footer>  
    
    <div class="foot_bottom">
     <h3>Copyright  &copy;  2016 <span> Italiano. </span> <b> Barcha  huquqlar  himoyalangan.</b></h3>
    </div> 

<script src="/singlepage2/js/index.js"></script>
</body>
</html>

<!-- Uchqun Turdiev 2021 09 05 -->